[submodule "_vim/bundle/msanders-snipmate.vim"]
	path = _vim/bundle/msanders-snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "_vim/bundle/tpope-vim-ragtag"]
	path = _vim/bundle/tpope-vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "_vim/bundle/tpope-vim-rails"]
	path = _vim/bundle/tpope-vim-rails
	url = https://github.com/tpope/vim-rails.git
